/****************************** RESET *******************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

body {
  max-width: 1616px;
  margin: 0 auto;
  border: 1px solid black;
}

/******************** GENERALS *********************/
.col {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.big-container {
  width: 82%;
  margin: 0 auto;
}

.lil-container {
  width: 69%;
  margin: 0 auto;
}

.fa-check {
  color: #0160ff;
}

hr {
  height: 1px;
  border: none;
  background-color: #000;
}

/******************** UTILITIES *********************/

/* Width */
.w-5 {
  width: 5%;
  margin-right: 5px;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33%;
}

.w-34 {
  width: 34%;
}

.w-50 {
  width: 50%;
}

.w-66 {
  width: 66%;
}

.w-70 {
  width: 70%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* Font Weight */
.f700{
  font-weight: 700;
}

.underline{
  text-decoration: underline;
}

/********** SPACE ***********/
.py-5{
  padding: 5px 0;
}

.py-10{
  padding: 10px 0;
}

.px-15{
  padding: 0 15px;
}

.py-40-px-30 {
  padding: 40px 30px;
}

.pt-20{
  padding-top: 20px;
}

.pt-30{
  padding-top: 30px;
}

.pb-50{
  padding-bottom: 50px;
}

.pl-20{
  padding-left: 20px;
}

.pl-50{
  padding-left: 50px;
}

.my-50{
  margin: 50px 0;
}

.mt-20{
  margin-top: 20px;
}

.mt-40{
  margin-top: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.col-margin {
  margin-left: calc(10% / 2);
  margin-right: calc(10% / 2);
}

/* Text Align */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Background color */
.background-color {
  background-color: #a2c0e7;
}

/* Button */
.btn-blue {
  color: white;
  background-color: #0160ff;
  padding: 5px 17px;
}

.btn-white {
  color: #000;
  border: 1px solid black;
  padding: 8px 17px;
}


.inline-block {
  display: inline-block;
}

/* Title */
h2{
  font-size: 40px;
}

h3 {
  font-size: 22px;
}

/* Borders */
.borders {
  border: 1px solid lightgray;
}

.borders-no-bottom {
  border: 1px solid lightgray;
  border-bottom: 0;
}

/* Pdding */
.little-padding {
  padding: 8px 0;
  border-bottom: 0px;
}

/****************************** BODY *******************************/

/******************** HEADER *********************/
header {
  height: 80px;
  width: 100%;
  line-height: 80px;
}

header #logo {
  vertical-align: middle;
  padding-bottom: 4px;
}

header nav li {
  display: inline-block;
  margin: 0 20px;
}

header nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

/******************** MAIN *********************/

/********** HERO ***********/
main .hero {
  height: 745px;
}

main .hero h1 {
  font-size: 76px;
  padding-top: 90px;
  padding-bottom: 40px;
  font-weight: 700;
}

main .hero .btn {
  display: inline-block;
  padding: 8px 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

main .hero i {
  margin-top: 40px;
}

/********** SUBSCRIPTION ***********/

/* Sub Plans Cards */
.sub {
  margin-top: 200px;
  margin-bottom: 150px;
}

.sub .col-content {
  height: 1000px;
}

.sub .mb-30 a{
  text-decoration: underline;
}

.sub .prezzo {
  padding-top: 20px;
  padding-bottom: 10px;
}

.sub .utenza {
  font-size: 12px;
  color: gray;
}

/* Sub Enterprise Solution */
.sub .enterprise-solution{
  margin-top: 50px;
}

.sub .enterprise-solution a{
  padding: 10px 0;
}
/********** CONTANT ***********/
main .contact {
  height: 600px;
}

main .contact h2{
  font-size: 25px;
}

main .contact p{
  font-size: 16px;
  line-height: 25px;
}

/********** FETAURE ***********/
main .feature {
  height: 1390px;
}
/********** COLLABORATION ***********/
main .collab {
  height: 1050px;
  border: 1px solid black;
}
/********** BRANDS LOGO ***********/
main .brands-title {
  height: 200px;
  border: 1px solid black;
}
/********** BRANDS ***********/
main .brands {
  height: 480px;
  border: 1px solid black;
}
/********** BRANDS CALL TO ACTION ***********/
main .brands-cta {
  height: 360px;
  border: 1px solid black;
}
/********** F.A.Q. ***********/
main .faq {
  height: 720px;
  border: 1px solid black;
}

/******************** FOOTER *********************/
footer {
  height: 500px;
  width: 100%;
  background-color: sandybrown;
  border: 1px solid black;
}

/********** DA ELIMINARE ***********/

.posso {
  background-color: darkgreen;
  height: 200px;
}

.nonposso {
  background-color: darkgoldenrod;
  height: 200px;
}

.immmage {
  background-color: darkred;
  height: 580px;
}

.img {
  height: 200px;
  background-color: darkslateblue;
}
